<h2>
  <%= @movie.title %>
  (<%= @movie.year %>)
</h2>
<% if @movie.poster.nil? %>
<img src="" alt ="No Image Found" title="No Poster Found">
<% else %>
<img src="<%= @movie.poster %>" 
     alt="Movie poster for <%= @movie.title %>" 
     title="Movie poster for <%= @movie.title %>">
<% end %>
<p>
  <%= @movie.plot %>
</p>
<dl>
  <dt>
    Rating
  </dt>
  <dd>
    <%= @movie.rated %>
  </dd>
  <dt>
    Runtime
  </dt>
  <dd>
    <%= @movie.runtime %>
  </dd>
  <dt>
    Genre
  </dt>
  <dd>
    <%= @movie.genre %>
  </dd>
  <dt>
    IMDB Rating
  </dt>
  <dd>
    <%= @movie.imdb_rating %>
  </dd>
  
  <dt>
    Rotten Tomatoes Rating
  </dt>
  <dd>
    <%= @movie.rt_rating %>
  </dd>

  <dt>
    Actor<%= @movie.actors.length > 1 ? "s" : "" %>
  </dt>
  <dd>
    <ul>
      <% @movie.actors.each do |actor| %>
      <li><%= actor %></li>
      <% end %>
    </ul>
  </dd>
  
  <dt>
    Director<%= @movie.directors.length > 1 ? "s" : "" %>
  </dt>
  <dd>
    <ul>
      <% @movie.directors.each do |director| %>
      <li><%= director %></li>
      <% end %>
    </ul>
  </dd>
</dl>
